<h1>Rooms#home</h1>
<p>Find me in app/views/rooms/home.html.erb</p>
<div class="top-wrapper">
  <div>
    <h2>Potepan Shareでまだ体験したことのない旅をしよう</h2>
  </div>
  <div>
    <h2>おすすめのエリア</h2>
  </div>
  <%= link_to "部屋一覧へ", rooms_path %>




</div>