


body {
  padding-top: 80px;
}

footer {
  background-color: black;
}

footer p {
  font-size: 10px;
  color: white;
}


.top-wrapper {
  background-color: yellow;
}

.room {
  padding: 30px 0px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.avatar-s {
  width: 65px;
  height: 65px;
}
